/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito Sans', sans-serif;
}

 .Header{
    height: 150px;
    background-color: #6C969D;
    color: #ECEDF6;
    margin-bottom: 10px;
    padding: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#logo a{
    text-decoration: none;
    color: #ECEDF6;
    position: absolute;
    font-size: 40px;
    padding-top: 60px;
    margin-left: 10%;
}

#headersearch {
    z-index: 1;
    text-indent: 8px;
    float: right;
    margin-right: 10%;
    margin-top: 2%;
    line-height: 50px;
    height: 60px;
    width: 200px;
    border: 1px;
    border-radius: 20px;
    padding-right: 50px;
}

#searchsubmit{
    z-index: 0;
    float: right;
    margin-right: -250px;
    margin-top: 29px;
    margin-left: 50px;
    border-radius: 25px;
    height: 40px;
    width: 40px;
    font-size: 200%;
    color: white;
    background-color: #64748C;
}

#searchsubmit:hover{
    background-color: #36494E;
}


.menubar {
    height: 100%;
    text-align: right;
    font-size: 30px;
    padding-top: 95px;
    margin-right: 10%;
}

.menubar a {
    padding-left: 1%;
    color: #ECEDF6;
    text-decoration: none;
}

.menubar a:hover {
    color: white;
    text-shadow: 1px 1px 1px 0 #ECEDF6;
}

body {
    background-color: #ECEDF6;
}

.newpost {
    position: fixed;
    top: 100%;
    left: 92%;
    margin-top: -120px;
    text-align: center;
    line-height: 60px;
    font-size: 35px;
    float: right;
    background-color: #FF2929;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    color: white;
    box-shadow: 2px, 2px, 2px, 2px, grey;
}

.newpost a {
    text-decoration: none;
    color: white;
}

.newpost:hover {
    background-color: #BF1F1F;
    box-shadow: inset 0px 0px 1px 1px white;
}
