// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .index {
//     display: grid;
//     grid-template-columns: repeat(4,25%);
//     grid-auto-rows: minmax(200px, auto)
// }

// .index img {
//     grid-column: 1/4
// }

.index {
    /* Prevent vertical gaps */
    margin-top: 3%;
    line-height: 0;
     
    -webkit-column-count: 3;
    -webkit-column-gap:   0px;
    -moz-column-count:    3;
    -moz-column-gap:      0px;
    column-count:         3;
    column-gap:           0px;  
  }
  
.index img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    padding:1px;
    border:2px solid #F7F9F9;
    background-color:#F7F9F9;
  }
  @media (max-width: 1200px) {
    .index {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
    }
  }
  @media (max-width: 1000px) {
    .index {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    }
  }
  @media (max-width: 800px) {
    .index {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    }
  }
  @media (max-width: 400px) {
    .index {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
    }
  }

// img {
//     max-height: 300px;
// }
.showimg img {
    margin-top: 4em;
    max-width: 90%;
    max-height: 700px;
    display: inline;
}

#showbackground {
    margin-top: -9px;
    background: url(AdobeStock_198081475.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 800px;
    overflow: auto;
}

.showbody {
    padding-top: 1px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 10%;
    height: fit-content;
    background-color: #F7F9F9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.showimg {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 1em;
    padding-bottom: 3em;
}

.newbackground {
    margin-top: -9px;
    background-image: url(new_background.jpg);
    background-size: cover;
    overflow: auto;
}

.newbody {
    padding-top: 75px;
    padding-bottom: 20px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    margin-bottom: 12%;
    height: fit-content;
    color: #36494E;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

textarea {
    outline: 0px;
    font-size: 20px;
    height: 22px;
    width: 300px;
    border-color: transparent transparent #36494E transparent;
}

#post_content{
    margin-left: 75px;
}

.newh1 {
    color: #36494E;
}

.newinput {
    text-align: center;
    line-height: 25px;
    outline: 0px;
    border-color: transparent transparent #36494E transparent;
    border-width: 1px;
}

p#flash {
    color: red;
}

.imagetag {
    font-size: 15px;
    color: #36494E;
}
.imagetag a{
    font-size: 15px;
    text-decoration: bold;
    color: #36494E;
}

#post_username {
    margin-top: 1em;
    padding-left: 5%;
    text-align: left;
    border-bottom: 1px solid #36494E;
    margin-bottom: -10%;
}

#post_username a {
    color: #36494E;
    text-decoration: none;
}

#nosearch.noresult {
    height: 4000px;
    color: red;
    margin-top: 5%;
    margin-left: 30%;
}